article{
    border: 1px solid black;
    width: 300px;
    height: 230px;
}

header{
    border: 1px solid black;
    width: 300px;
    height: 20px;
    text-align: center;
}

#article2{
    border: 1px solid black;
    width: 100px;
    height: 206px;
}

h4{
    border-bottom:1px solid black ;
}


section{
    border:1px solid black;
    width: 199px;
    height: 198px;
    position: absolute;
    left: 110px;
    top: 30px;
    padding-top: 10px;
}

